body {
  background: #fff;
  background-color: #e0e0e0;
}

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #333;
  background-color: #e0e0e0;
}

::selection {
  color: #333;
  background: #bee4fd;
  text-shadow: none; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "helvetica-neue", "helvetica", arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: rgba(0,0,0,0.2) 0px 0px 6px;
  word-wrap: break-word; }


#cover-contents h1,
#cover-contents h2,
#cover-contents h3,
.reveal #cover-contents {
    color: #fff;
}

blockquote footer {
    text-align: right;
}

.reveal ol,
.reveal dl,
.reveal ul {
    text-transform: none;
}
