[submodule "slides/osoco-reveal-template/reveal.js"]
	path = slides/osoco-reveal-template/reveal.js
	url = git@github.com:hakimel/reveal.js.git
[submodule "osoco-reveal-template"]
	path = osoco-reveal-template
	url = ssh://git@phabricator.osoco.es/source/OSOCO-Reveal-Template.git
